<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>My list of tasks</h1>
    <ul class="centered">
      <% @tasks.each do |task| %>
        <% if task.done %>
            <li> <%= task.name %> <i class="fa fa-check"></i> </li>
          <% else %>
            <li> <%= task.name %> <i class="fa fa-times"></i> </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
